@import './utils.scss';
* {
	box-sizing: border-box;
}

:root {
	--color-primary: #2447a1;
	--color-primary-variant: #2992e5;
	--color-secondary: #f2c75c;
	--color-secondary-variant: #3a913f;
	--color-background-mid: #d6e3f2;
	--color-background-light: #fff;
	--color-background-dark: #151a47;
	--color-text-light: #fff;
	--color-text-dark: #323232;
}

html,
body {
	font-family: 'IBM Plex Sans', sans-serif;
	color: var(--color-text-dark);
	margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 800;
	margin: 0;
	margin-bottom: 18px;
}

h1 {
	font-size: 80px;
	@include viewport(small) {
		font-size: 50px;
	}
}
h2 {
	font-size: 50px;
	@include viewport(small) {
		font-size: 40px;
	}
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 20px;
}

button,
input[type='submit'] {
	transform: scale(1);
	transition: transform 0.4s;
	border: none;
	border-radius: 11px;
	background-color: var(--color-primary-variant);
	padding: 12px 30px;
	color: white;
	font-weight: 700;
	font-size: 17px;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	&.wrapper {
		margin: 0;
		padding: 0;
		border-radius: 0;
		background-color: transparent;
	}

	&:active {
		transform: scale(0.95);
	}
	&:active:disabled {
		transform: scale(1);
	}

	&:disabled {
		background-color: gray;
	}
}

input,
textarea {
	display: block;
	border-radius: 12px;
	background-color: #ededed;
	border: 1px solid #cdcdcd;
	padding: 10px;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 15px;
	color: var(--color-text-dark);
}

a.wrapper {
	display: block;
	text-decoration: none;
	margin: 0;
	padding: 0;
	color: inherit;
	font-weight: inherit;
	font-size: inherit;
}

p,
span {
	line-height: 24px;
}
